snippet fix_tests "Fix the tests prompt"
  I do not want to fix the tests just to make the tests pass. 
  I want to fix the tests only if they are not relevant. 
  If the tests are relevant, the code will be fixed instead. 
  The tests will be fixed only if they are not relevant. 
  Analyze the tests and determine if they are relevant to the specifications. 
  If the tests are relevant, we will fix the code. 
  If the tests are not relevant, we will fix the tests.

snippet tell_me "Last line of the prompt"
  Tell me the full new contents of the files I need to change in order to achieve what I want.
